.demo-logo-vertical {
  height: 50px;

  background: #fff;
  margin: 13px;
  background: url('../image/cms.jpg');
  background-size: contain;
}

@media (max-width: 768px) {
  .demo-logo-vertical {
    display: none;
  }
}

@media (min-width: 768px) {
  .demo-logo-vertical {
    display: block;
  }
}
